.contact {
	text-align: center;
}
.title {
	font-family: Rubik, sans-serif;
	color: $color-secondary;
	font-weight: 500;
	font-size: 24px;
	text-transform: uppercase;
	margin: 30px 0 15px 0;
}
.contact_text {
	color: $color-dark;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    text-align: center;
	margin: 0 auto;
	padding: 0 15px 15px;
	max-width: 600px;
}

.contact_text p {
	margin:0;
}
.contact_rule {
	font-size: 12px;
    color: $color-dark;
    margin-bottom: 60px;
}
.green {
	color: $color-secondary;
}
