.first-section {
  text-align: center;
  position: relative;
}

.team {
  font-family: $fontTitle;
  font-weight: 500;
  color: $colorAdalab;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.description {
  font-family: $fontBody;
  color: $colorText;
  font-size: 16px;
  margin: 0 20px 30px;
}

#team {
  position: relative;
  top: -140px;
}

@media all and (min-width:768px) {
  /*tablet TEAM*/

  #team {
    position: relative;
    top: -105px;
  }

  .team {
    font-family: $fontTitle;
    color: $colorAdalab;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 15px;
  }

  .description {
    max-width: 601px;
    font-family: $fontBody;
    color: $colorText;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

  }
}

@media all and (min-width:1200px) {
  /*desktop TEAM*/

  .description {
    font-family: $fontBody;
    color: $colorText;
    margin: 0 0 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/**-----Start strengths_weaknesses code-----**/

body {
  margin: 0;
  padding: 0;
}

.section_strengths_weaknesses {
  background-color: #f1f1f1;
  width: 100%;
}

.container_strengths_weaknesses {
  background-color: #f1f1f1;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.title_strengths_weaknesses {
  color: #099D8D;
  font-size: 22px;
  font-family: 'Rubik', sans-serif;
}

.text_strengths_weaknesses {
  color: #54585A;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.box_strengths,
.box_weaknesses {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.box_weaknesses {
  padding-top: 30px;
}

.first-section:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 28px;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-top: solid 15px white;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  z-index: 0;
}

.close_p {
  margin: 0px;
}

@media (min-width:768px) and (max-width:1200px) {
  /** for tablet **/


  .first-section:after {
    margin-top: 58px;
  }

  .section_strengths_weaknesses {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
  }

  .container_strengths_weaknesses {
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 924px;
  }

  .box_strengths,
  .box_weaknesses {
    padding: 15px;
    width: 50%;
  }

  .box_strengths {
    padding-left: 45px;
  }

  .box_weaknesses {
    padding-right: 45px;
    padding-left: 30px;
  }
}

@media (min-width:1200px) {
  /** for desktop **/

  .first-section:after {
    margin-top: 60px;
  }

  .container_strengths_weaknesses {
    padding-top: 45px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 924px;
  }

  .box_strengths,
  .box_weaknesses {
    padding: 22px;
    width: 50%;
  }

  .box_weaknesses {
    padding-left: 30px;
  }
}


/*-------------- About us -----------------*/


.about-us {
  background-color: $backgroundColor;
}

#about-us {
    width: 0;
    height: 0;
    position: relative;
    top: -136px;
}

.about-us__title {
    margin: 30px 0 25px 0;
    color: $colorAdalab;
    font-family: $fontTitle;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.88;
    text-align: center;
    text-transform: uppercase;
}

.list-of-members {
    margin: 0 15px;
    padding: 0;
    list-style: none;
}

.member__photo-container {
    width: 190px;
    height: 190px;
    margin: 0 auto;
}

.member__photo {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.member__info {
    padding: 10px 10px 0 10px;
    text-align: center;
}

.member__name {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.25;
}

.member__bio {
    margin: 0;
    color: $colorText;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.member__social-info {
    margin: 15px 0 35px 0;
    padding: 0;
    list-style: none;
}

.social-info__item {
    display: inline;
}

.social-info__link, .social-info__link--hide {
    padding: 8px;
    color: $colorAdalab;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    display: inline-block;
    position: relative;
}

.social-info__link::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: $colorText;
    top: 22px;
    left: 32px;
    border-radius: 50%;
}

.social-info__link--hide::before {
    display: none;
}

/** for tablet **/

@media all and (min-width:768px) {

    #about-us {
        top: -102px;
    }
    
    .about-us__title {
        margin: 45px 0 40px 0;
    }

    .list-of-members {
        max-width: 924px;
        margin: 0 auto;
    }

    .member {
        margin-bottom: 50px;
        display: grid;
        grid-column-gap: 25px;
        justify-content: center;
    }

    .member1, .member3, .member5 {
        grid-template-columns: 215px minmax(auto, 439px);
    }

    .member2, .member4 {
        grid-template-columns: minmax(auto, 439px) 215px;   
    }

    .member__photo-container {
        width: 215px;
        height: 215px;
    }

    .photo2, .photo4 {
        grid-column: 2 / 3;
    }

    .member__info {
        max-width: 439px;
        padding: 5px 0 0 0;
    }

    .info1, .info3, .info5 {
        text-align: left;
    }

    .info2, .info4 {
        text-align: right;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .member__social-info {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .social-info1, .social-info3, .social-info5 {
        margin-left: -8px;
    }

    .social-info2, .social-info4 {
        margin-right: -8px;
    }
}

/** for desktop **/

@media all and (min-width:1200px) {

    .member {
        grid-column-gap: 40px;
    }

    .member1, .member3, .member5 {
        grid-template-columns: 288px minmax(auto, 439px);
        justify-content: flex-start;
    }

    .member2, .member4 {
        grid-template-columns: minmax(auto, 439px) 288px;
        justify-content: flex-end;
    }

    .member__photo-container {
        width: 288px;
        height: 288px;
    }
}
