*{  
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.nav-contein {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    z-index: 2;
}

.title-adacoders {
    width: 100%;
    height: 60px;
    background-color: #099d8d;
    opacity: 0.94;  
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #14d9c4;
    opacity: 0.94;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.img-team{
    height: 421px;
    width: 100%;
    background: url(../images/team-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.claim {
     padding: 15px;
     margin: -25px 15px 15px;
     background-color: #fff;
     text-align: center;
}

.nav-links:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
}

/* IMAGEN contact page*/

.img-contact {
    height: 421px;
    width: 100%;
    background: url(../images/contact-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/*aqui seccion TEAM*/ 

.first-section {
    text-align: center;
}

.team {
    font-family: 'Rubik', sans-serif;
    color: #099D8D;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 18px;
    margin: 0 20px 30px;
}

#team {
    position: relative;
    top: -108px;
}


/**Start strengths_weaknesses code**/

body{
    margin: 0;
    padding: 0;
}

.container_strengths_weaknesses{
   background-color:#f1f1f1;  
   height: 100%;
   overflow:hidden;
}

.title_strengths_weaknesses{
    color:#099D8D;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}

.text_strengths_weaknesses{
    color:#54585A;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}

.box_strengths{
    box-sizing: border-box;
    margin: 30px;
    text-align: center;
}

.box_weaknesses{
    box-sizing: border-box;
    margin: 0px 20px 45px;
    text-align: center;
}

.triangle{
    border-left-color:rgb(241, 241, 241);
    border-left-style:solid;
    border-left-width:15px;
    border-right-color:rgb(241, 241, 241);
    border-right-style:solid;
    border-right-width:15px;
    border-top-color:rgb(255, 255, 255);
    border-top-style:solid;
    border-top-width:15px;
    box-sizing:border-box;
    display:block;
    height:15px;
    left:50%;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    position:absolute;
    transform:matrix(1, 0, 0, 1, -15, 0);
    width:30px;
    -webkit-box-direction:normal;
    z-index: 1;
}

/**Finish strengths_weaknesses code**/


/* About US */

.about-us {
    background-color: #ffffff
}

#about-us {
    position: relative;
    top: -102px;
}

.section-title {
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 22px;
    padding: 5px 0;
}

.list-of-members {
    margin: 0;
    padding: 0;
    list-style: none;
}

.member-photo {
    text-align: center;
}

img.member-photo {
    width: 188px;
    height: 188px;
    border: 4px solid #e0dfdf;
    border-radius: 8px;
    box-sizing: border-box;
}

.member-info {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 15px;
}

.member-name {
    color: #000000;
    font-size: 20px;
    margin: 0;
}

.member-description {
    color: #54585A;
    font-size: 16px;
    padding: 5px 10px;
}

p.member-description {
    margin: 0;
}

.social-info {
    text-align: center;
    margin-bottom: 37px;
    padding-top: 5px;
    padding-left: 0;
    display: block;
}

.icon-link {
    color: #099D8D;
    font-size: 16px;
}

.twitter, .linkedin, .github, .mail {
    color: #099D8D;
    font-size: 16px;
    display: inline;
    list-style: none;
    text-decoration: none;
}

.decoration-point {
    color: #54585A;
    margin: 0 3px;
    }

/* Footer styles */


a {
	text-decoration: none;
	transition: all 0.5s ease-out;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
main {
	width: 100%;
	margin: 0 auto;
}
footer {
	border-top: 1px solid #cacaca;
	padding: 30px 0 45px;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 45px auto 0;
}
.group_name {
	color: #b8b8b9;
	text-align: center;
	margin-bottom: 20px;
}
.site_map {
	margin-bottom: 30px;
}
.nav-footer{
	color: #7f8284;
	display: inline-block;
	position: relative;
    padding: 1px;
}
.site_map .nav-footer::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #14d9c4;
	transition: width cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
}
.site_map a:hover  {
    color: #14d9c4;
}
.site_map a:hover::before {
	width: 100%;
}
.logo {
	width: 116px;
	height: 45px;
	background-image: url(../images/logo-adalab.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto;
}
.nav {
	text-align: center;
}
/* End of footer styles */



/* Contact page text */

.contact {
	text-align: center;
}
.title {
	font-family: Rubik, sans-serif;
	color: #14d9c4;
	font-weight: 500;
	font-size: 24px;
	margin: 30px 0 15px 0;
}
.contact_text {
	color: #54585a;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    text-align: center;
	margin: 0 auto;
	padding: 0 15px 15px;
	max-width: 600px;
}
.contact_rule {
	font-size: 12px;
    color: #a8a8a8;
    margin-bottom: 60px;
}
.green {
	color: #14d9c4;
}


    /* CONTACT FORM */

.contact-form input {
    display: block;
    width: 100%;
    margin: 5px 0 0;
    height: 45px;
    padding: 10px;
}

.contact-form {
    margin: 0 15px 15px;
    max-width: 500px;
    
}
