@import 'core/variables';

*{  
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $fontBody;
    font-weight: $font-weight-normal;
    background-color: $color-light;
    font-size:16px;
}

/*-----------Animation------------*/ 

@import 'components/animation';
/*-----------HEADER------------*/ 

@import 'layout/header';

/*------------- Footer styles -------------*/

@import 'layout/footer';

/* CONTACT FORM */

@import 'components/forms';

/*------------ Contact page main -----------*/

@import 'pages/contact-main';

/*-----------Home /main section------------*/ 

@import 'pages/home-main';

