@import 'core/variables';

*{  
    box-sizing: border-box;
    font-family: $fontBody;
}

body {
    margin: 0;
    padding: 0;
}


/*-----------HEADER------------*/ 

@import 'layout/header';

/*------------- Footer styles -------------*/

@import 'layout/footer';

/* CONTACT FORM */

@import 'components/forms';

/*------------ Contact page main -----------*/

@import 'pages/contact-main';

/*-----------Home main section------------*/ 

@import 'pages/home-main';