<section class="about-us">

    <div id="about-us"></div>

    <h2 class="about-us__title">About us</h2>

    <ul class="list-of-members">

        <li class="member member1">
            <div class="member__photo-container photo1">
                <img class="member__photo" src="assets/images/Paloma.jpg" alt="">
            </div>
            <div class="member__info info1">
                <h3 class="member__name">Paloma Ania</h3>

                <p class="member__bio">I have formal education as a Laboratory Technician and a
                    Violinist,
                    so I come from two different worlds in order to become a great Front-end Programmer. At the
                    beginning videogames awakened my interest in programming, and then this curiosity increased
                    with the development of society in terms of technology usage at almost every context around
                    us.
                    Now I consider it is a good time to learn some great programming skills, by focusing on my
                    first chance to become a Front-end Programmer, willing to learn more about this fascinating
                    world and its fields such as game development.</p>

                <ul class="member__social-info social-info1">
                    <li class="social-info__item">
                        <a class="social-info__link" href="https://twitter.com/paloma_ania"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://es.linkedin.com/in/paloma-ania-benito-9852b3112"><i
                                class="fab fa-linkedin"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://github.com/palomaviolin"><i class="fab fa-github-alt"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link--hide" href="mailto:paloma.aniabenito@gmail.com"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="member member2">
            <div class="member__photo-container photo2">
                <img class="member__photo" src="assets/images/Maria.jpg" alt="">
            </div>
            <div class="member__info info2">
                <h3 class="member__name">María Badanina</h3>

                <p class="member__bio">I have a bachelor's degree in graphic design and I love front-end
                    because it’s all about creativity and creative problem-solving. I'm fascinated by idea that
                    as
                    a front-end developer I can build a useful, high quality product from scratch and this
                    product
                    is going to interact with users and simplify their daily lives. I’m crazy about animations,
                    transitions, microinteractions and all other types of visual effects in interfaces.</p>

                <ul class="member__social-info social-info2">
                    <li class="social-info__item">
                        <a class="social-info__link" href="https://twitter.com/MariaBadanina"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://www.linkedin.com/in/maria-badanina-270686/"><i class="fab fa-linkedin"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://github.com/maria-badanina"><i class="fab fa-github-alt"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link social-info__link--hide" href="mailto:maria.badanina.s@gmail.com"><i
                                class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="member member3">
            <div class="member__photo-container photo3">
                <img class="member__photo" src="assets/images/Laus.jpg" alt="">
            </div>
            <div class="member__info info3">
                <h3 class="member__name">Laura Ferrando</h3>

                <p class="member__bio">I’m a psychologist currently living in Madrid. After finishing my
                    bachelor studies, I realized Psychology was not what I’m really passionate about. I think
                    web
                    programming is a perfect match for both my skills and personality: I am organized,
                    hard-working, creative; I like team-working, helping people and constantly learning new
                    things.
                    And most of all, I am ready to become a role-model for other women to dare enter the Tech
                    world!</p>

                <ul class="member__social-info social-info3">
                    <li class="social-info__item">
                        <a class="social-info__link" href="https://twitter.com/lauraferrandof"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://www.linkedin.com/in/lauraferrandof/"><i class="fab fa-linkedin"></i></a>
                    </li class="social-info__item">

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://github.com/lauraferrandof"><i class="fab fa-github-alt"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link social-info__link--hide" href="mailto:lauraferrandof@gmail.com"><i
                                class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="member member4">
            <div class="member__photo-container photo4">
                <img class="member__photo" src="assets/images/Stef.jpg" alt="">
            </div>
            <div class="member__info info4">
                <h3 class="member__name">Stephanie Guevara</h3>

                <p class="member__bio">I’m an architect from Venezuela currently living in Madrid.
                    Responsible and dynamic, ready to work under pressure in teams and individually. Constant
                    motivation and initiative to develop myself in any area assigned to my position quickly and
                    professionally ethic. Looking
                    for new opportunities to keep growing in a professional level, passionate about technology
                    and
                    the digital world, future front-end developer.</p>

                <ul class="member__social-info social-info4">
                    <li class="social-info__item">
                        <a class="social-info__link" href="https://twitter.com/StephanieGGullo"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://www.linkedin.com/in/stephanie-guevara-6330a1154/"><i
                                class="fab fa-linkedin"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://github.com/StephanieGGullo"><i class="fab fa-github-alt"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link social-info__link--hide" href="mailto:stephanieguevaragullo@gmail.com"><i
                                class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="member member5">
            <div class="member__photo-container photo5">
                <img class="member__photo" src="assets/images/Elisa.jpg" alt="">
            </div>
            <div class="member__info info5">
                <h3 class="member__name">Elisa Martín</h3>

                <p class="member__bio">I’m an engineer passionate about new technologies and their
                    constant
                    change. Currently I am reinventing myself as a front-end developer to make a living from my
                    passions. I keep on working and encouraging myself to learn new stuff everyday by getting
                    out
                    of my comfort zone.</p>

                <ul class="member__social-info social-info5">
                    <li class="social-info__item">
                        <a class="social-info__link" href="https://twitter.com/elisamartinbt"><i class="fab fa-twitter"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="www.linkedin.com/in/elisamartinb"><i class="fab fa-linkedin"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link" href="https://github.com/elisamartinb"><i class="fab fa-github-alt"></i></a>
                    </li>

                    <li class="social-info__item">
                        <a class="social-info__link social-info__link--hide" href="mailto:elisamartinbt@gmail.com"><i
                                class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</section>