<footer>
    <div class="footer_container">
        <div class="group_name">{ ADACODERS } &#169; 2018</div>
        <nav class="site_map">
            <ul class="nav">
                <li><a href="#team" class="nav-footer">TEAM</a></li>
                <li><a href="#about-us" class="nav-footer">ABOUT US</a></li>
                <li><a href="contact.html" class="nav-footer">CONTACT</a></li>
            </ul>
        </nav>
        <a class="logo" href="https://adalab.es/"></a>
    </div>
</footer>