<header class="header">
    <div class="reveal">
        <div class="reveal__block reveal_1"></div>
        <div class="reveal__block reveal_2"></div>
        <div class="reveal__block reveal_3"></div>
        <div class="reveal__block reveal_4"></div>
        <div class="reveal__block reveal_5"></div>
        <div class="reveal__block reveal_6"></div>
        <div class="reveal__block reveal_7"></div>
        <div class="reveal__block reveal_8"></div>
    </div>
    <div class="@@backImage">
        <div class="background-menu">
            <nav class="nav-contein">
                <div class="title-adacoders">
                    <a href="index.html"><img class="white_logo" src="assets/images/logo_white.svg" alt="logo"></a>
                </div>

                <!-- menu  -->

                <ul class="nav-menu">
                    <li><a href="#team" class="nav-links"> Team</a></li>
                    <li> <a href="#about-us" class="nav-links"> About us</a></li>
                    <li> <a href="contact.html" class="nav-links"> Contact </a></li>
                </ul>

            </nav>
        </div>
    </div>

    <!-- claim  -->
    <div class="claim-box">
        <div class="@@teamClaim">
            <blockquote class="blockquote">"Only the best is good enough" LEGO</blockquote>
        </div>
    </div>
</header>