

<header class="header">
    <div class="@@backImage">
<div class="background-menu">
        <nav class="nav-contein">
            <div class="title-adacoders">
                <h1><a href="index.html">{ Adacoders }</a></h1>
            </div>

            <!-- menu  -->

            <ul class="nav-menu">
                <li><a href="index.html#team" class="nav-links"> Team</a></li>
                <li> <a href="#about-us" class="nav-links"> About us</a></li>
                <li> <a href="contact.html" class="nav-links"> Contact </a></li>
            </ul>

        </nav>
    </div>
    </div>

    <!-- claim  -->

    <div class="@@teamClaim">
        <blockquote class="blockquote"> "Only the best is good enough" <br> LEGO</blockquote>
    </div>
</header>