<section class="section_strengths_weaknesses">
            
    <div class="container_strengths_weaknesses">
        
        <div class="box_strengths">
            <h3 class="title_strengths_weaknesses">Strengths</h3>
            <div class="text_strengths_weaknesses">
                <p class="close_p">We listen to each other carefully and make the decisions together, so that everyone agrees
                    with the goals and methods we’re using. We also take into account the differing opinions
                    that might arise from the decision-making process.</p>
                <p class="close_p">We adapt quickly to unforeseen circumstances.</p>
                <p class="close_p">We learn from our mistakes, constantly improving our performance as a team.</p>
                <p class="close_p">We like seeking out feedback to improve our work and support each other in every failure and
                    success.</p>
                <p class="close_p">We are enterprising women, capable of reaching our objectives and identifying opportunities,
                    new projects and organizations to reach our objectives. </p>
            </div>
        </div>
        
        <div class="box_weaknesses">
            <h3 class="title_strengths_weaknesses">Weaknesses</h3>
            <div class="text_strengths_weaknesses">
                <p>Our team is just starting to make its first steps in web development. That may make us
                    vulnerable in some way, nevertheless it’s also keeping us eager to learn more about the
                    mysteries of code. Everyday we discover something new about this whole new world of
                    programming, about each member of the group and about ourselves too. We are different, with
                    different life experiences and mind-setting but we have one thing in common — we all are
                    perfectionists with high standards. It's our strength and weakness at the same time. Our
                    perfectionism makes us too self-critical but in the other side it makes us reach the best
                    result possible</p>
            </div>
        </div>

    </div>
</section>