<section>
    <div id="team"></div>
    <div class="first-section">
        <h2 class="team">TEAM</h2>
        <div class="description">
            <p>We are a female team reinventing ourselves with a highly entrepreneurial spirit. Each of us
                contributes to the team with the best of her skills. Together we are: talented, tenacious,
                determined, creative and enthusiastic.</p>
            <p>Nowadays around the world, many people consider a disadvantage the fact of being a woman.
                However, we are fighting to make a difference and change the rules of the game, to prove that
                being a woman is not a weakness but a great strength.</p>
        </div>
    </div>
</section>