<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adacoders</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <!--header  -->

    <header class="header">
        <div class="img-contact">
            <div class="background-menu">
            <nav class="nav-contein">
                <div class="title-adacoders">
                    <h1><a href="index.html">{ ADACODERS }</a></h1>
                </div>

                <!-- menu  -->

                <ul class="nav-menu">
                    <li><a href="index.html#team" class="nav-links"> TEAM</a></li>
                    <li> <a href="index.html#about-us" class="nav-links"> ABOUT US</a></li>
                    <li> <a href="contact.html" class="nav-links"> CONTACT </a></li>
                </ul>
            </div>
            </nav>

    </header>
    <section class="contact">
        <h2 class="title">CONTACT</h2>
        <div class="contact_text">
            If you have any questions or just want to say hi, <br> please don't hesitate to drop us a line! <i class="far fa-smile-wink green"></i>
        </div>
        <div class="contact_rule">All fields marked with <span class="green">*</span> are required.</div>
    </section>

    <form>
        <div class="contact-form">
            <label for="">Full Name <span class="green">*</span></label>
            <input type="text" placeholder="Name...">
        </div>

        <div class="mail-phone_container">
            <div class="contact-form contact-mail">
                <label for="">Email <span class="green">*</span></label>
                <input type="email" placeholder="your-email@gmail.com">
            </div>

            <div class="contact-form contact-phone">
                <label for="">Phone number</label>
                <input type="tel" placeholder="ej: 123456789">
            </div>
        </div>
        <div class="contact-form">
            <label for="">Message <span class="green">*</span></label>
            <textarea class="message-form" placeholder="Your Message"></textarea>
        </div>
        <button class="button">SEND</button>
        <div class="clear"></div>
    </form>
    <!-- footer  -->
    <footer>
        <div class="footer_container">
            <div class="group_name">{ ADACODERS } &#169; 2018</div>
            <nav class="site_map">
                <ul class="nav">
                    <li><a href="index.html#team" class="nav-footer">TEAM</a></li>
                    <li><a href="index.html#about-us" class="nav-footer">ABOUT US</a></li>
                    <li><a href="contact.html" class="nav-footer">CONTACT</a></li>
                </ul>
            </nav>
            <a class="logo" href="https://adalab.es/"></a>
        </div>
    </footer>
</body>

</html>