<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adacoders</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <!-- header -->

    <header class="header">
        <div class="img-team">
<div class="background-menu">
            <nav class="nav-contein">
                <div class="title-adacoders">
                    <h1><a href="index.html">{ ADACODERS }</a></h1>
                </div>

                <!-- menu  -->

                <ul class="nav-menu">
                    <li><a href="index.html#team" class="nav-links"> TEAM</a></li>
                    <li> <a href="#about-us" class="nav-links"> ABOUT US</a></li>
                    <li> <a href="contact.html" class="nav-links"> CONTACT </a></li>
                </ul>

            </nav>
        </div>
        </div>

        <!-- claim  -->

        <div class="claim">
            <blockquote class="blockquote"> "Only the best is good enough" <br> LEGO</blockquote>
        </div>
    </header>

    <!-- Header finish, main start -->

    <main>

        <!-- "TEAM" section start -->

        <section>
            <div id="team"></div>
            <div class="first-section">
                <h2 class="team">TEAM</h2>
                <div class="description">
                    <p>We are a female team reinventing ourselves with a highly entrepreneurial spirit. Each of us
                        contributes to the team with the best of her skills. Together we are: talented, tenacious,
                        determined, creative and enthusiastic.</p>
                    <p>Nowadays around the world, many people consider a disadvantage the fact of being a woman.
                        However, we are fighting to make a difference and change the rules of the game, to prove that
                        being a woman is not a weakness but a great strength.</p>
                </div>
            </div>
        </section>

        <!-- "TEAM" section finish -->


        <!-- Start strengths_weaknesses code -->

        <section>

            <div class="container_strengths_weaknesses">
                <div class="box_strengths">
                    <h3 class="title_strengths_weaknesses">Strengths</h3>
                    <div class="text_strengths_weaknesses">
                        <p class="close_p">We listen to each other carefully and make the decisions together, so that everyone agrees
                            with the goals and methods we’re using. We also take into account the differing opinions
                            that might arise from the decision-making process.</p>
                        <p class="close_p">We adapt quickly to unforeseen circumstances.</p>
                        <p class="close_p">We learn from our mistakes, constantly improving our performance as a team.</p>
                        <p class="close_p">We like seeking out feedback to improve our work and support each other in every failure and
                            success.</p>
                        <p class="close_p">We are enterprising women, capable of reaching our objectives and identifying opportunities,
                            new projects and organizations to reach our objectives. </p>
                    </div>
                </div>

                <div class="box_weaknesses">
                    <h3 class="title_strengths_weaknesses">Weaknesses</h3>
                    <div class="text_strengths_weaknesses">
                        <p>Our team is just starting to make its first steps in web development. That may make us
                            vulnerable in some way, nevertheless it’s also keeping us eager to learn more about the
                            mysteries of code. Everyday we discover something new about this whole new world of
                            programming, about each member of the group and about ourselves too. We are different, with
                            different life experiences and mind-setting but we have one thing in common — we all are
                            perfectionists with high standards. It's our strength and weakness at the same time. Our
                            perfectionism makes us too self-critical but in the other side it makes us reach the best
                            result possible</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Finish strengths_weaknesses code -->


        <partial src="_about-us" label="About us"></partial>

    </main>

    <!-- footer  -->

    <footer>
        <div class="footer_container">
            <div class="group_name">{ ADACODERS } &#169; 2018</div>
            <nav class="site_map">
                <ul class="nav">
                    <li><a href="#team" class="nav-footer">TEAM</a></li>
                    <li><a href="#about-us" class="nav-footer">ABOUT US</a></li>
                    <li><a href="contact.html" class="nav-footer">CONTACT</a></li>
                </ul>
            </nav>
            <a class="logo" href="https://adalab.es/"></a>
        </div>
    </footer>
</body>

</html>