<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adacoders</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <partial src="_header.html" backImage="img-team" teamClaim="claim"></partial>

    <main>
        <partial src="_team.html" label=""></partial>
        <partial src="_section-strengths.html" label=""></partial>
        <partial src="_about-us.html" label=""></partial>
    </main>

    <partial src="_footer.html" label=""></partial>
</body>

</html>