<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adacoders</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    <!-- header -->
    <partial src="_header.html" backImage="img-team" teamClaim="claim"></partial>

    <!-- Header finish, main start -->

    <main>

        <!-- "TEAM" section start -->

        <section>
            <div id="team"></div>
            <div class="first-section">
                <h2 class="team">TEAM</h2>
                <div class="description">
                    <p>We are a female team reinventing ourselves with a highly entrepreneurial spirit. Each of us
                        contributes to the team with the best of her skills. Together we are: talented, tenacious,
                        determined, creative and enthusiastic.</p>
                    <p>Nowadays around the world, many people consider a disadvantage the fact of being a woman.
                        However, we are fighting to make a difference and change the rules of the game, to prove that
                        being a woman is not a weakness but a great strength.</p>
                </div>
            </div>
        </section>

        <!-- "strengths&weaknesses" section start -->
        <partial src="_section-strengths.html" label=""></partial>
        

        <!-- "ABOUT US" section start -->
        <partial src="_about-us.html" label=""></partial>

       

    </main>

    <!-- footer  -->

    <footer>
        <div class="footer_container">
            <div class="group_name">{ ADACODERS } &#169; 2018</div>
            <nav class="site_map">
                <ul class="nav">
                    <li><a href="#team" class="nav-footer">TEAM</a></li>
                    <li><a href="#about-us" class="nav-footer">ABOUT US</a></li>
                    <li><a href="contact.html" class="nav-footer">CONTACT</a></li>
                </ul>
            </nav>
            <a class="logo" href="https://adalab.es/"></a>
        </div>
    </footer>
</body>

</html>