.nav-contein {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    z-index: 2;
}

.title-adacoders {
    width: 100%;
    height: 60px;
    background-color: $color-primary;
    opacity: 0.94;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-light;
    text-transform: uppercase;
}

.title-adacoders a {
    color: $color-light;
    font-size: 16px;
    font-family: $fontTitle;
    font-weight: $font-weight-medium;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: $color-secondary;
    opacity: 0.94;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    color: $color-light;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    font-family: $fontTitle;
    font-weight: $font-weight-medium;
}

.img-team {
    height: 421px;
    width: 100%;
    background: url(../images/team-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 60px;
}

.claim {
    padding: 15px;
    margin: -25px 15px 15px;
    background-color: $color-light;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: $fontBody;
    $fontBody: 'Open Sans', sans-serif;
}

.hidden-claim {
    display: none;
}

.blockquote {
    margin: 0;
    padding: 0;
}

/* IMAGEN contact page*/

.img-contact {
    height: 300px;
    width: 100%;
    background: url(../images/contact-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/** for tablet **/

@media (min-width:768px) {
    .img-team {
        background-position: top;
    }
    .title-adacoders {
        justify-content: flex-start;
        padding-left: 45px;
    }
    .nav-contein {
        flex-direction: row;
        max-width: 924px;
    }
    .nav-menu {
        height: 60px;
        background-color: $color-primary;
        justify-content: flex-end;
        padding-right: 30px;
    }
    .nav-links {
        margin: 0 15px;
    }
    .background-menu {
        background-color: $color-primary;
        opacity: 0.94;
        width: 100%;
        height: 60px;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    .claim {
        padding-top: 15px;
        padding-right: 70px;
        padding-left: 70px;
        max-width: 441px;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.7);
        margin: 0;
    }
    .claim-box {
        width: 100%;
        height: 80px;
        max-width: 924px;
        padding: 0 45px;
        margin: -80px auto 0;
    }
}

/** for desktop **/

@media (min-width:1200px) {
    .img-team {
        height: 550px;
        background-position: top;
    }
    .nav-contein {
        width: 921px;
    }
    .title-adacoders,
    .nav-menu {
        padding: 0;
    }
    .nav-links::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $color-light;
        transition: width cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
    }
    .nav-links:hover::before {
        width: 100%;
    }
    .claim {
        font-size: 24px;
        position: absolute;
        left: 0;
        padding: 7px 30px;
    }
    .claim-box {
        height: 80px;
        max-width: 924px;
        padding: 0 45px;
        position: relative;
    }
    .img-contact {
        height: 400px;
    }
}