$fontBody: 'Open Sans', sans-serif;
$fontTitle: 'Rubik', sans-serif;
$color-primary: #099d8d;
$color-secondary: #14d9c4;
$color-light: #fff;
$color-light-medium: #f1f1f1;
$color-dark: #54585A;
$font-weight-medium: 500;
$font-weight-normal: 400;