*{  
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*-----------HEADER------------*/ 

.nav-contein {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    z-index: 2;
}

.title-adacoders {
    width: 100%;
    height: 60px;
    background-color: #099d8d;
    opacity: 0.94;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.title-adacoders a {
    color: #fff;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #14d9c4;
    opacity: 0.94;
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links {
    color: white;
    text-decoration: none;
    position: relative;
}
.nav-links::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #fff;
    transition: width cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
}
.nav-links:hover::before {
	width: 100%;
}

.img-team{
    height: 421px;
    width: 100%;
    background: url(../images/team-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 60px;
}

.claim {
     padding: 15px;
     margin: -25px 15px 15px;
     background-color: #fff;
     text-align: center;
     font-weight: bold;
}

.blockquote {
    margin: 0;
    padding: 0;
}

 /* IMAGEN contact page*/

.img-contact {
    height: 421px;
    width: 100%;
    background: url(../images/contact-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/** for tablet **/
@media (min-width:768px) {
    .img-team {
        background-position: top;  
    }

    .title-adacoders  {
        justify-content: flex-start;
        padding-left: 45px;
    }

    .nav-contein {
        flex-direction: row;
    }

    .nav-menu {
        height: 60px;
        background-color: #099d8d;
        justify-content: flex-end;
        padding: 0 45px;
    }

    .nav-links {
        margin: 0 15px;
    }
    
    .claim {
        padding: 15px 30px;
        max-width: 441px;
        margin: -80px 0 0 45px;
        height: 80px;
        background-color: rgba(255,255,255,0.7);
    }
}

/** for desktop **/
@media (min-width:1200px) { 
    .img-team {
        height: 550px;
        background-position: top;  
    }

    .title-adacoders {
        padding: 0 0 0 250px;
    }

    .nav-menu {
        padding: 0 250px 0 0;
    }
}


/*-----------aqui seccion TEAM------------*/ 

.first-section {
    text-align: center;
    position: relative;
}

.team {
    font-family: 'Rubik', sans-serif;
    color: #099D8D;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 18px;
    margin: 0 20px 30px;
}

#team {
    position: relative;
    top: -108px;
}

@media all and (min-width:768px) {  /*tablet TEAM*/

    #team {
        position: relative;
        top: -100px;
    }
    .team {
        font-family: 'Rubik', sans-serif;
        color: #099D8D;
        font-size: 24px;
        margin-top: 45px;
        margin-bottom: 15px;
    }
    
    .description {
        font-family: 'Open Sans', sans-serif;
        color: #54585A;
        font-size: 18px;
        margin: 0 20px 60px;
    }
    }

    @media all and (min-width:1200px){  /*desktop TEAM*/

        .description {
            width: 601px;
            font-family: 'Open Sans', sans-serif;
            color: #54585A;
            font-size: 18px;
            margin: 0 0 60px;
            position: relative;
            left:50%;
            transform: translate(-50%,0);
        }
    }

/**-----Start strengths_weaknesses code-----**/

body{
    margin: 0;
    padding: 0;
}

.container_strengths_weaknesses{
   background-color:#f1f1f1;  
   width: 100%;
   overflow:hidden;
   padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title_strengths_weaknesses{
    color:#099D8D;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
}

.text_strengths_weaknesses{
    color:#54585A;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}

.box_strengths, .box_weaknesses{
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.box_weaknesses{
    padding-top: 30px;
}

.first-section:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 28px;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px white;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    z-index: 0;
}

@media (min-width:768px) and (max-width:1200px){ /** for tablet **/
    
    .first-section:after {
        margin-top: 58px;
    }

    .container_strengths_weaknesses{
        padding-top: 45px;
        padding-bottom: 60px;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .box_strengths, .box_weaknesses{
        padding: 15px;
        width: 50%;
    }
}

@media (min-width:1200px){ /** for desktop **/
    
    .first-section:after {
        margin-top: 60px;
    }

    .container_strengths_weaknesses{
        padding-top: 45px;
        padding-bottom: 60px;
        margin: 0;
        display: flex;
        flex-direction: row;
    }

    .box_strengths, .box_weaknesses{
        padding: 22px;
        width: 50%;
    }
}



/*-------------- About US -----------------*/

.about-us {
    background-color: #ffffff
}

#about-us {
    position: relative;
    top: -102px;
}

.section-title {
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 30px 0 26px 0;
    padding: 5px 0;
}

.list-of-members {
    margin: 0;
    padding: 0;
    list-style: none;
}

.member-photo {
    text-align: center;
}

img.member-photo {
    width: 188px;
    height: 188px;
    border: 4px solid #e0dfdf;
    border-radius: 8px;
}

.member-info {
    text-align: center;
    margin: 15px;
}

.member-name {
    color: #000000;
    font-size: 20px;
    margin: 0;
}

.member-description {
    color: #54585A;
    font-size: 16px;
    margin: 0;
    padding: 5px 10px;
}

.social-info {
    margin: 15px 0 37px 0;
    padding-left: 0;
}

.twitter, .linkedin, .github, .mail {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 3px;
}

.icon-link {
    color: #099D8D;
    font-size: 16px;
}

.decoration-point {
    color: #54585A;
    }

@media (min-width:768px) { /** for tablet **/

    .section-title {
        margin: 45px 0 41px 0;
    }

    .member {
        display: flex;
        justify-content: center;
        margin: 0 40px 60px 40px;
    }

    .member-1, .member-3, .member-5 {
        flex-direction: row;
    }

    .member-2, .member-4 {
        flex-direction: row-reverse;
    }

    img.member-photo {
        width: 213px;
        height: 213px;
    }

    .member-info {
        max-width: 439px;
    }
    
    .member-description {
        padding: 5px 0;
    }

    .info-1, .info-3, .info-5 {
        text-align: left;
        margin: 15px 0 0 30px;
    }

    .info-2, .info-4 {
        text-align: right;
        margin: 15px 30px 0 0;
    }

    .social-info {
        margin: 15px 0 0 0;
    }
}

@media (min-width:1200px){ /** for desktop **/

    img.member-photo {
        width: 270px;
        height: 270px;
    }

    .info-1, .info-3, .info-5 {
        margin: 15px 0 0 45px;
    }

    .info-2, .info-4 {
        margin: 15px 45px 0 0;
    }

}


/*------------- Footer styles -------------*/


a {
	text-decoration: none;
	transition: all 0.5s ease-out;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
main {
	width: 100%;
	margin: 0 auto;
}
footer {
    border-top: 1px solid #cacaca;
    margin: 45px 0;
}
.footer_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 30px auto 0;
}
.group_name {
	color: #b8b8b9;
	text-align: center;
	margin-bottom: 20px;
}
.site_map {
	margin-bottom: 30px;
}
.nav-footer{
	color: #7f8284;
	display: inline-block;
	position: relative;
    padding: 1px;
}
.site_map .nav-footer::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #14d9c4;
	transition: width cubic-bezier(0.1, 0.79, 0.24, 0.93) 0.3s;
}
.site_map a:hover  {
    color: #14d9c4;
}
.site_map a:hover::before {
	width: 100%;
}
.logo {
    display: block;
	width: 116px;
	height: 45px;
	background-image: url(../images/logo-adalab.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
    margin: 0 auto;
}
.nav {
	text-align: center;
}
@media (min-width:768px) { /* Footer styles for tablet */
    footer {
        margin: 60px 0;
    }
    .footer_container {
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 0 40px;
    }
    .site_map {
        margin-bottom: 0;
    }
    .nav{
        text-align: right;
    }
    .nav-footer {
        margin-bottom: 10px;
    }
    .logo {
        position: absolute;
        top: 40px;
    }
}
@media (min-width:1200px) { /* Footer styles for desktop */
    .footer_container {
        padding: 0;
        max-width: 755px;
    }
}


/* End of footer styles */



/*------------ Contact page text -----------*/

.contact {
	text-align: center;
}
.title {
	font-family: Rubik, sans-serif;
	color: #14d9c4;
	font-weight: 500;
	font-size: 24px;
	margin: 30px 0 15px 0;
}
.contact_text {
	color: #54585a;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    text-align: center;
	margin: 0 auto;
	padding: 0 15px 15px;
	max-width: 600px;
}
.contact_rule {
	font-size: 12px;
    color: #c7c7c7;
    margin-bottom: 60px;
}
.green {
	color: #14d9c4;
}


/* CONTACT FORM */
form {
    color: #54585a;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-form input {
    display: block;
    width: 100%;
    margin: 5px 0 0;
    height: 45px;
    padding: 10px;
}

.contact-form {
    margin: 0 0 15px;
    max-width: 600px;
}
.message-form{
    resize: none;
    height: 105px;
    width: 100%;
    padding: 10px;
    margin: 5px 0 0;
    border: 1px solid #dcdcdc;
}
::placeholder {
    color: #c7c7c7;
}
.button {
    margin: 15px 0;
    width: 100%;
    height: 45px;
    background-color: #14d9c4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #099d8d;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    cursor: pointer;
}
.button:hover::before {
    height: 45px;
}
.clear {
    clear: both;
}
@media (min-width:768px) { /* Contact page styles for tablet */
    form {
        max-width: 442px ;
    }
    .button {
        width: 206px;
        float: right;
    }
}
@media (min-width:1200px) { /* Contact page styles for desktop */
    .title {
        margin: 45px 0 15px 0;
    }
    form {
        width: 600px;
        max-width: 600px;
    }
    .mail-phone_container {
        display: flex;
        justify-content: space-between;
    }
    .contact-mail {
        width: 395px;
    }
    .contact-phone {
        width: 162px;
    }
    .button {
        margin: 15px 0 60px;
    }
}